# IMDB Scraping Data

**Start date:** 9/3/2023 

**Scope:** This analysis has the main goal of praticing cleaning data and peforming an exploratory analysis on this dataset.

In [1]:
#Importing the data
# !kaggle datasets download -d bharatnatrayn/movies-dataset-for-feature-extracion-prediction

In [2]:
# import zipfile

# with zipfile.ZipFile('movies-dataset-for-feature-extracion-prediction.zip', 'r') as zip_ref:
#     zip_ref.extractall()

In [3]:
import pandas as pd
import regex as re
import numpy as np

In [4]:
movies_raw_dataset = pd.read_csv('movies.csv')

In [5]:
movies_raw_dataset.head()

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
0,Blood Red Sky,(2021),"\nAction, Horror, Thriller",6.1,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,"21,062",121.0,NaN
1,Masters of the Universe: Revelation,(2021– ),"\nAnimation, Action, Adventure",5.0,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...","17,870",25.0,NaN
2,The Walking Dead,(2010–2022),"\nDrama, Horror, Thriller",8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,"\n \n Stars:\nAndrew Lincoln, \n...","885,805",44.0,NaN
3,Rick and Morty,(2013– ),"\nAnimation, Adventure, Comedy",9.2,\nAn animated series that follows the exploits...,"\n \n Stars:\nJustin Roiland, \n...","414,849",23.0,NaN
4,Army of Thieves,(2021),"\nAction, Crime, Horror",NaN,"\nA prequel, set before the events of Army of ...",\n Director:\nMatthias Schweighöfer\n| \n ...,NaN,NaN,NaN

On a first glance, there are some issues that will need some work:
- The database does not contain only movies but movies and series
- All text fields contain special characters like '\n'
- RunTime column contains the full length of movies but only the episode length for series
- For beautifying purposes, column names also need to be standardized

Let's start with the columns names and then we have a look at the dataset summary and types

In [6]:
movies_raw_dataset.columns = pd.Series(movies_raw_dataset.columns).apply(lambda x: x[0].upper() + x[1:].lower())

In [7]:
movies_raw_dataset.describe()

            Rating      Runtime
count  8179.000000  7041.000000
mean      6.921176    68.688539
std       1.220232    47.258056
min       1.100000     1.000000
25%       6.200000    36.000000
50%       7.100000    60.000000
75%       7.800000    95.000000
max       9.900000   853.000000

Rating column seems fine, as the ratings on IMDB go from 1 to 10. However, 853 for run time seems a little excessive (more than 14 hours). Given that th percentile 75% is 95 minutes, we are likely looking at an outlier here. Let's check it out.

In [8]:
movies_raw_dataset.nlargest(5, columns='Runtime')

,Movies,Year,Genre,Rating,One-line,Stars,Votes,Runtime,Gross
1902,El tiempo entre costuras,(2013–2014),"\nAdventure, Drama, History",8.3,\nSira Quiroga is a young Spanish dressmaker e...,"\n \n Stars:\nAdriana Ugarte, \n...","3,876",853.0,NaN
1081,Soupçons,(2004–2018),"\nDocumentary, Crime, Drama",7.9,\nThe high-profile murder trial of American no...,"\n \n Stars:\nMichael Peterson, ...","20,200",629.0,NaN
2498,The Innocence Files,(2020),"\nDocumentary, Crime",8.0,\nCases of wrongful conviction that the Innoce...,"\n \n Stars:\nPeter Neufeld, \nB...","2,335",573.0,NaN
201,The Haunting of Hill House,(2018),"\nDrama, Horror, Mystery",8.6,"\nFlashing between past and present, a fractur...","\n \n Stars:\nMichiel Huisman, \...","195,117",572.0,NaN
820,Cosmos: A Spacetime Odyssey,(2014),\nDocumentary,9.3,\nAn exploration of our discovery of the laws ...,\n \n Stars:\nNeil deGrasse Tyso...,"114,386",557.0,NaN

So apparently we have mixed values on the RunTime column, with some series having the duration per episode and other having the total duration of the series. We will have to find a way to differentiate these.

In [9]:
movies_raw_dataset.dtypes

Movies       object
Year         object
Genre        object
Rating      float64
One-line     object
Stars        object
Votes        object
Runtime     float64
Gross        object
dtype: object

Both votes and Gross columns are objects, while they could supposedly by numerical values. Let's have a deeper look at Gross. Since on the head there are no values for this column, we don't really know what is its formatting and if it needs any additional work.

In [10]:
movies_raw_dataset.loc[~movies_raw_dataset['Gross'].isna(), 'Gross'].head(20)

77      $75.47M
85     $402.45M
95      $89.22M
111    $315.54M
125     $57.01M
128    $260.00M
132    $132.38M
143    $167.77M
144    $404.52M
145     $15.07M
156     $70.10M
159    $210.61M
161    $327.48M
165    $390.53M
171    $303.00M
172     $56.63M
175     $58.06M
181    $353.01M
189     $46.89M
191      $7.00M
Name: Gross, dtype: object

So the Gross column will also need some formatting. 

We can now work on the column types and formatting

In [11]:
movies_raw_dataset.dtypes

Movies       object
Year         object
Genre        object
Rating      float64
One-line     object
Stars        object
Votes        object
Runtime     float64
Gross        object
dtype: object

In [12]:
movies_raw_dataset['Year']

0            (2021)
1          (2021– )
2       (2010–2022)
3          (2013– )
4            (2021)
           ...
9994       (2021– )
9995       (2021– )
9996       (2022– )
9997       (2021– )
9998       (2021– )
Name: Year, Length: 9999, dtype: object

In [13]:
#Remove parenthesis from the Year Column
movies_raw_dataset['Year'] = movies_raw_dataset['Year'].str.replace(r'[()]','')

C:\Users\Hugo\AppData\Local\Temp\ipykernel_10412\546281310.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  movies_raw_dataset['Year'] = movies_raw_dataset['Year'].str.replace(r'[()]','')

In [14]:
#Remove new line char from Genre
movies_raw_dataset['Genre'] = movies_raw_dataset['Genre'].str.strip('\n')

In [15]:
#Remove new line char from One-Line
movies_raw_dataset['One-line'] = movies_raw_dataset['One-line'].str.strip('\n')

In [16]:
#Remove new line and special characters from Stars
movies_raw_dataset['Stars'] = movies_raw_dataset['Stars'].str.replace(r'[\n|]','')

C:\Users\Hugo\AppData\Local\Temp\ipykernel_10412\894442060.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  movies_raw_dataset['Stars'] = movies_raw_dataset['Stars'].str.replace(r'[\n|]','')

In [17]:
#Cast Votes as float to preserve the NaN. Converting to integer would make us have to fill those records and filling with 0 or a different number might skew future analysis
movies_raw_dataset['Votes'] = movies_raw_dataset['Votes'].str.replace(',','').astype(float)

In [18]:
#Get the Gross values correctly formatted
def number_formatter(x:str):
    '''Removes the letter identifier of the number magnitude and multiplies it by the value represented, returning a numerical variable'''
    if 'M' in x:
        return float(x.strip('M'))*1000000
    elif 'k' in x:
        return float(x.strip('k'))*1000
    else:
        return float(x)

In [19]:
movies_raw_dataset['Gross'] = movies_raw_dataset['Gross'].str.strip('$')
movies_raw_dataset['Gross'] = movies_raw_dataset['Gross'].apply(lambda x: number_formatter(str(x)))

In [20]:
movies_raw_dataset.head()

,Movies,Year,Genre,Rating,One-line,Stars,Votes,Runtime,Gross
0,Blood Red Sky,2021,"Action, Horror, Thriller",6.1,A woman with a mysterious illness is forced in...,Director:Peter Thorwarth Stars:Peri Ba...,21062.0,121.0,NaN
1,Masters of the Universe: Revelation,2021–,"Animation, Action, Adventure",5.0,The war for Eternia begins again in what may b...,"Stars:Chris Wood, Sarah Michel...",17870.0,25.0,NaN
2,The Walking Dead,2010–2022,"Drama, Horror, Thriller",8.2,Sheriff Deputy Rick Grimes wakes up from a com...,"Stars:Andrew Lincoln, Norman R...",885805.0,44.0,NaN
3,Rick and Morty,2013–,"Animation, Adventure, Comedy",9.2,An animated series that follows the exploits o...,"Stars:Justin Roiland, Chris Pa...",414849.0,23.0,NaN
4,Army of Thieves,2021,"Action, Crime, Horror",NaN,"A prequel, set before the events of Army of th...",Director:Matthias Schweighöfer Stars:M...,NaN,NaN,NaN

Looking a lot better!

Let's now check for duplicates on the data.

In [21]:
#First we drop full duplicates
movies_raw_dataset.drop_duplicates(inplace=True, ignore_index=True)

In [22]:
#Checking for partial duplicates
movies_raw_dataset[movies_raw_dataset.duplicated(subset=['Movies','Year','Genre'], keep=False)].sort_values(by='Movies')

,Movies,Year,Genre,Rating,One-line,Stars,Votes,Runtime,Gross
8265,13 Reasons Why,2017–2020,"Drama, Mystery, Thriller",5.9,Clay's mental health continues to decline as t...,Director:Sunu Gonera Stars:Dylan Minne...,1420.0,60.0,NaN
8109,13 Reasons Why,2017–2020,"Drama, Mystery, Thriller",6.6,"The school goes into lockdown and Clay, Tony a...",Director:Brenda Strong Stars:Dylan Min...,1694.0,61.0,NaN
8284,13 Reasons Why,2017–2020,"Drama, Mystery, Thriller",6.8,When the dean begins a new investigation and t...,Director:Tommy Lohmann Stars:Dylan Min...,1640.0,60.0,NaN
8108,13 Reasons Why,2017–2020,"Drama, Mystery, Thriller",6.1,The Jensens make the boys take a drug test. Wh...,Director:Brenda Strong Stars:Dylan Min...,1507.0,57.0,NaN
8264,13 Reasons Why,2017–2020,"Drama, Mystery, Thriller",5.6,As the school gears up for the Love Is Love da...,Director:Michael Sucsy Stars:Dylan Min...,1635.0,59.0,NaN
...,...,...,...,...,...,...,...,...,...
8340,ÜberWeihnachten,2020,"Comedy, Drama, Romance",7.2,The Most Wonderful Christmas of the Year - the...,"Stars:Luke Mockridge, Seyneb S...",59.0,45.0,NaN
8339,ÜberWeihnachten,2020,"Comedy, Drama, Romance",7.5,Sausages and Potato Salad - Basti hooks up wit...,"Stars:Luke Mockridge, Seyneb S...",66.0,50.0,NaN
8338,ÜberWeihnachten,2020,"Comedy, Drama, Romance",7.2,"Home Is Where the Tree Is - Bastian, an aspiri...","Stars:Luke Mockridge, Seyneb S...",65.0,48.0,NaN
6352,Far Cry,NaN,"Animation, Action, Adventure",NaN,Plot under wraps. Adaptation of the Ubisoft game.,,NaN,NaN,NaN
5813,Far Cry,NaN,"Animation, Action, Adventure",NaN,Feature film based on the video game 'Far Cry'...,,NaN,NaN,NaN

It seems like there are series in which each line is an episode because they either have a different plot or a different director/actors. We can group this entries, using the rating and votes average, the sum of the runtime and concatenating the text fields to process later.

In [23]:
aggregations = {
    'Rating':'mean',
    'One-line':'sum',
    'Stars':'sum',
    'Votes':'mean',
    'Runtime':'mean',
    'Gross':'mean'
}

movies_raw_dataset = movies_raw_dataset.groupby(['Movies','Year','Genre']).agg(aggregations).reset_index()

Let's check again now

In [24]:
movies_raw_dataset[movies_raw_dataset.duplicated(subset=['Movies','Year','Genre'], keep=False)].sort_values(by='Movies')

Empty DataFrame
Columns: [Movies, Year, Genre, Rating, One-line, Stars, Votes, Runtime, Gross]
Index: []

Perfect! Our dataset looks much more clean!

Now it's time for testing if the data obeys to some defined rules. We have already checked that the rating is between the expected range, but now we need to check for the same thing in year, votes count and range.

To check if the year is in between boundries, let's create two new columns:
- **Starting year** - The year the movie was released or series started
- **Ending year** - The year series ended. In case of movies and series which were released during only one year, ending year shall be the same as starting year

In [25]:
movies_raw_dataset['Startyear'] = movies_raw_dataset['Year'].apply(lambda x: x.split('–')[0])
movies_raw_dataset['Startyear'] = movies_raw_dataset['Startyear'].astype(int)

ValueError: invalid literal for int() with base 10: 'I'

Apprently some rows contain the value 'I' for the _Year_ column. Let's take a look at those rows.

In [26]:
movies_raw_dataset.loc[movies_raw_dataset['Year']=='I', :]

,Movies,Year,Genre,Rating,One-line,Stars,Votes,Runtime,Gross,Startyear
221,Painkiller,I,"Crime, Drama",NaN,Add a PlotAdd a Plot,"Director:Peter Berg Stars:Uzo Aduba, M...",NaN,NaN,NaN,I
1179,Bubbles,I,"Animation, Comedy",NaN,A chimpanzee tells his story of living with th...,Director:Mark Gustafson Star:Piyali Mu...,NaN,NaN,NaN,I
1601,Dead of Winter,I,Drama,NaN,An Asian American family's weekend in the moun...,Director:Mike Gan,NaN,NaN,NaN,I
1903,Empress,I,"Action, Adventure, Drama",NaN,The wife of a galactic dictator makes the deci...,,NaN,NaN,NaN,I
2813,Janet,I,"Biography, Drama",NaN,A young black woman at the Washington Post and...,Director:Janet Mock,NaN,NaN,NaN,I
2938,Juneteenth,I,Musical,NaN,"A musical about Juneteenth, the",,NaN,NaN,NaN,I
3362,Lou,I,"Crime, Drama, Mystery",NaN,A tough elderly woman living on a remote islan...,Director:Anna Foerster Stars:Jurnee Sm...,NaN,NaN,NaN,I
4087,Paranormal,I,"Drama, Horror, Mystery",NaN,"Depicts the adventures of Dr. Refaat Ismail, a...",,NaN,NaN,NaN,I
5010,Sword Art Online,I,"Action, Adventure, Drama",NaN,The series will follow a brilliant young beta ...,,NaN,NaN,NaN,I
5075,Tell No One,I,Thriller,NaN,A widowed husband learns that his wife may sti...,Director:Guillaume Canet,NaN,NaN,NaN,I
5402,The Killer,I,"Action, Crime, Drama",NaN,Plot unknown.,Director:David Fincher Star:Michael Fa...,NaN,NaN,NaN,I
5526,The Outlaws,I,Comedy,NaN,Owen Browning is a bank manager about to marry...,Director:Tyler Spindel Stars:Pierce Br...,NaN,NaN,NaN,I
5631,The Standoff,I,Drama,NaN,"Film takes place in December, 1969, when a new...",Director:Justin Lin,NaN,NaN,NaN,I
5998,Untitled Thai Cave Rescue Project,I,Drama,NaN,A boys soccer team in Thailand becomes trapped...,"Directors:Jon M. Chu, Baz Poonpiriya",NaN,NaN,NaN,I
6109,Watergate,I,"Action, Crime, Drama",NaN,A look at the events and historical figures su...,,NaN,NaN,NaN,I

These movies do not have much info, so it seems like the I stands for Incoming. Let's see which rows contain anything but numbers and hyphen

In [27]:
movies_raw_dataset.loc[(movies_raw_dataset['Year'].str.contains('[a-zA-Z]')), :]

,Movies,Year,Genre,Rating,One-line,Stars,Votes,Runtime,Gross,Startyear
221,Painkiller,I,"Crime, Drama",NaN,Add a PlotAdd a Plot,"Director:Peter Berg Stars:Uzo Aduba, M...",NaN,NaN,NaN,I
314,The Pentaverate,II,Comedy,NaN,Add a PlotAdd a PlotAdd a PlotAdd a PlotAdd a ...,Director:Tim Kirkby Star:Phill Webster...,NaN,NaN,NaN,II
354,True Story,III,"Comedy, Drama",NaN,Add a PlotAdd a PlotAdd a PlotAdd a Plot,Director:Stephen Williams Stars:Kevin ...,NaN,NaN,NaN,III
413,13th: A Conversation with Oprah Winfrey & Ava ...,2017 Video,"Documentary, Short",7.1,Oprah Winfrey sits down with other to discuss ...,"Stars:Oprah Winfrey, Ava DuVernay",193.0,37.0,NaN,2017 Video
423,1994,I 2019–,"Documentary, History",7.6,Archival video and new interviews provide an i...,Stars:Rafael Sebastián Guillén...,442.0,NaN,NaN,I 2019
...,...,...,...,...,...,...,...,...,...,...
6319,Zeitgeist: Addendum,2008 Video,"Documentary, History, War",8.2,Zeitgeist: Addendum attempts to locate the roo...,Director:Peter Joseph Stars:Jacque Fre...,18071.0,123.0,NaN,2008 Video
6334,Zion,I 2018,"Documentary, Short, Biography",7.2,"A portrait of Zion Clark, a young wrestler who...","Director:Floyd Russ Stars:Zion Clark, ...",1096.0,12.0,NaN,I 2018
6336,Zoe,I 2018,"Romance, Sci-Fi",6.1,A story about how synthetic humans can feel an...,Director:Drake Doremus Stars:Ewan McGr...,8146.0,104.0,NaN,I 2018
6342,Zoolander: Super Model,2016 TV Movie,"Animation, Comedy, Sci-Fi",4.9,"In this animated serialized movie, ridiculousl...",Director:Aaron Augenblick Stars:Ben St...,139.0,84.0,NaN,2016 TV Movie
6357,Året der gik,2020 TV Special,"History, Music, Talk-Show",NaN,Add a Plot,"Stars:Stéphanie Surrugue, Kåre...",NaN,134.0,NaN,2020 TV Special

A lot of entries with more information than the year. Let's look at the unique values on these rows.

In [28]:
movies_raw_dataset.loc[(movies_raw_dataset['Year'].str.contains('[a-zA-Z]')), 'Year'].unique()

array(['I', 'II', 'III', '2017 Video', 'I 2019– ', '2020 TV Special',
       'I 2017', '2014 TV Special', '2019 Video', '2013 Video',
       '2008 Video', '2019 TV Movie', '2017 TV Movie', '2014 Video',
       '2015 TV Special', '2016 TV Movie', '2019 TV Special',
       '2018 TV Special', '2017 TV Special', 'III 2021', 'IV 2021',
       '2020 TV Movie', '2021 TV Special', '2016 TV Special',
       '2006 Video', '2014 TV Movie', '2006 TV Movie', 'I 2021',
       'II 2021', 'I 2014', 'TV Special', '2012 Video', 'I 2019',
       '2021 TV Movie', 'I 2018', '2015 Video', 'I 2012', '2011 Video',
       'II 2016', 'IV 2018', 'I 2009', 'I 2016', '2013 TV Special',
       '2011 TV Movie', 'II 2017', 'II 2015', 'I 2020', 'I 2008',
       '2021 Video', 'II 2020', 'II 2013', '2012 TV Special',
       '1992 Video', '1993 TV Special', '1989 Video', '2013 TV Movie',
       'XLI', 'II 2022', 'II 2009', 'I 2020– ', 'I 2011', '2016 Video',
       'IV 2020', 'IV', 'III 2015', '2011 TV Special', 'III 2020',
       'TV Movie', 'I 2019–2020', 'II 2011', '2018 TV Movie',
       '1966 TV Special', 'I 2012–2015', '2021 TV Short', 'II 2012– ',
       'V', 'IV 2014', 'II 2017– ', 'I 2021– ', 'Video', 'I 2015',
       '2004 Video', '2007 TV Special', 'III 2018', '2015 TV Movie',
       'III 2017', '2020 Video', 'II 2012', 'II 2018', 'VI 2018',
       'I 2022– ', 'I 2013', '2008 TV Special', '1995 Video',
       '1998 Video', '2003 Video', '2010 Video', 'I 2010', 'VIII',
       '2005 TV Special', '2001 TV Special', 'II 2007– ', 'VI 2014',
       'XXIII', 'II 2020– ', 'III 2016', '2006 TV Special',
       '2003 TV Special', '2010 TV Special', '2009 Video', 'V 2018',
       '2009 TV Movie', 'IV 2016', '2012 TV Movie', 'II 2019– ',
       'II 2019', 'VII', '2000 Video', 'II 2021– ', 'VI 2019', 'I 2004',
       '1998 TV Special', '2008 TV Movie', '2014 TV Short',
       '2015 TV Short', '1965 TV Special', '2018 Video Game',
       'II 2016 TV Movie', 'IV 2017', 'II 2012–2019', 'XIII', 'I 2000',
       'III 2010', '1989 TV Special', '2009 TV Special', '1988 TV Movie',
       'III 2014', 'VI 2016', '2018 Video', 'I 2005', 'II 2016– ',
       '1987 TV Special', '1999 TV Movie', 'XI', 'I 2015– ', 'II 2004',
       '2020 TV Short', 'IX', 'XII', 'II 2014', '2005 Video',
       '2007 TV Movie', 'V 2010', 'XIV 2017', 'III 2011', 'I 2013–2016',
       'V 2016', 'II 1998', '1975 TV Movie', '2019 TV Short',
       '1991 TV Special', 'III 2019', 'III 2012', 'II 2010',
       '1990 TV Special', 'I 2018– ', '1996 Video', '1993 TV Movie',
       '2017 TV Short', 'VI', 'I 2013–2014', '2022 TV Special',
       '2007 Video'], dtype=object)

Well, at least most of them have the year info, so we will be able to extract it somehow. For now, let's take a look on the ones who do not and see if they are interesting to keep.

In [29]:
no_year_info = movies_raw_dataset.loc[~(movies_raw_dataset['Year'].str.contains('[0-9]')), :]

In [30]:
no_year_info.describe()

       Rating  Votes     Runtime  Gross
count     0.0    0.0    2.000000    0.0
mean      NaN    NaN   94.000000    NaN
std       NaN    NaN   48.083261    NaN
min       NaN    NaN   60.000000    NaN
25%       NaN    NaN   77.000000    NaN
50%       NaN    NaN   94.000000    NaN
75%       NaN    NaN  111.000000    NaN
max       NaN    NaN  128.000000    NaN

Do not seem to be very relevant, as there's barely any information on _Rating_ and _Votes_. Let's drop this from the dataset.

In [31]:
movies_raw_dataset = movies_raw_dataset.loc[(movies_raw_dataset['Year'].str.contains('[0-9]')), :]

From here we can filter only the digits from the _year_ column

In [32]:
movies_raw_dataset['Year'] = movies_raw_dataset['Year'].str.replace('[^0-9\–]','')

C:\Users\Hugo\AppData\Local\Temp\ipykernel_10412\1470456750.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  movies_raw_dataset['Year'] = movies_raw_dataset['Year'].str.replace('[^0-9\–]','')

And now we can proceed as intended

In [33]:
movies_raw_dataset['Year'] = movies_raw_dataset['Year'].str.strip('–')

In [34]:
movies_raw_dataset['Startyear'] = movies_raw_dataset['Year'].apply(lambda x: x.split('–')[0])
movies_raw_dataset['Startyear'] = movies_raw_dataset['Startyear'].astype(int)

In [35]:
movies_raw_dataset['Endyear'] = movies_raw_dataset['Year'].apply(lambda x: x.split('–')[-1])
movies_raw_dataset['Endyear'] = movies_raw_dataset['Endyear'].astype(int)

Check again on our numeric variables

In [36]:
movies_raw_dataset.describe()

,Rating,Votes,Runtime,Gross,Startyear,Endyear
count,5845.000000,5.845000e+03,5320.000000,4.600000e+02,6297.000000,6297.000000
mean,6.637888,2.086695e+04,78.719302,4.370187e+07,2015.560108,2015.899158
std,1.215359,8.216492e+04,49.783835,8.242330e+07,8.145803,8.016333
min,1.100000,5.000000e+00,1.000000,0.000000e+00,1932.000000,1932.000000
25%,5.900000,3.480000e+02,45.000000,1.500000e+05,2015.000000,2015.000000
50%,6.800000,1.478000e+03,82.000000,6.145000e+06,2018.000000,2018.000000
75%,7.500000,6.943000e+03,100.000000,4.694750e+07,2019.000000,2020.000000
max,9.400000,1.713028e+06,853.000000,5.040100e+08,2023.000000,2023.000000

Seems a bit odd that we have a runtime of 1 minutes. Let's take a look at the rows with the smaller runtimes.

In [37]:
movies_raw_dataset.nsmallest(10, 'Runtime')

,Movies,Year,Genre,Rating,One-line,Stars,Votes,Runtime,Gross,Startyear,Endyear
353,Trollhunters,2016–2018,"Animation, Action, Adventure",8.2,"Trolls, goblins, humans, Gumm-Gumms -- all man...",,16.5,1.0,NaN,2016,2018
411,13 Reasons Why: Season 2 Date Announcement Com...,2018,"Short, Drama",7.2,Add a Plot,"Director:Greg Jardin Stars:Alisha Boe,...",197.0,1.0,NaN,2018,2018
658,All Hail King Julien: Happy Birthday to You!,2017,"Animation, Short",4.4,Nobody parties like King Julien. And today he'...,,7.0,1.0,NaN,2017,2017
906,Barbie: Happy Birthday to You!,2017,"Animation, Short",4.1,Get ready to make a wish and have the most ama...,"Stars:Ritesh Rajan, America Young",8.0,1.0,NaN,2017,2017
930,Beat Bugs: Happy Birthday to You!,2017,"Animation, Short",NaN,They say it's your birthday - and there's no o...,,NaN,1.0,NaN,2017,2017
1695,Dinotrux: Happy Birthday to You!,2017,"Animation, Short",NaN,Ty and the rest of the Dinotrux just found out...,,NaN,1.0,NaN,2017,2017
2588,Horsin' Around,2014,"Short, Comedy, Music",7.4,The opening title sequence to the spoof 90s si...,,627.0,1.0,NaN,2014,2014
3118,LEGO Friends: Happy Birthday to You!,2017,"Animation, Short",3.6,Surprise. The gang's all here to celebrate you...,,5.0,1.0,NaN,2017,2017
3119,LEGO Ninjago: Masters of Spinjitzu: Happy Birt...,2017,"Animation, Short, Action",5.9,"LEGO Ninjago heroes Kai, Zane, Jay and Cole wa...",,10.0,1.0,NaN,2017,2017
3627,Miraculous: Ladybug & Cat Noir: Happy Birthday...,2017,"Animation, Short",7.3,"Break dancing, dragons, balloons and a DJ: Lad...",,34.0,1.0,NaN,2017,2017

Most of these are classified as shorts, so it is actually possible that the value is correct.

In [38]:
movies_raw_dataset.head()

,Movies,Year,Genre,Rating,One-line,Stars,Votes,Runtime,Gross,Startyear,Endyear
0,13 Reasons Why,2017–2020,"Drama, Mystery, Thriller",6.140000,"The police question Tyler about the guns, leav...",Director:Russell Mulcahy Stars:Dylan M...,1693.600000,62.800000,NaN,2017,2020
1,1899,2022,"Drama, History, Horror",NaN,Add a PlotAdd a Plot,Director:Baran bo Odar Stars:Aneurin B...,NaN,NaN,NaN,2022,2022
2,3Below: Tales of Arcadia,2018–2019,"Animation, Action, Adventure",7.950000,"Left vulnerable after Omen's attack, the royal...",Director:Andrew L. Schmidt Stars:Tatia...,129.500000,20.461538,NaN,2018,2019
3,50M2,2021,"Comedy, Drama, Thriller",7.300000,"While seeking answers about his parents, Shado...",Director:Selçuk Aydemir Stars:Engin Öz...,119.500000,49.000000,NaN,2021,2021
4,7Seeds,2019–2020,"Animation, Action, Adventure",7.108696,"Convinced that Botan has kidnapped them, Natsu...","Stars:Morgan Berry, Amber Lee ...",30.521739,24.695652,NaN,2019,2020

Isolating the Director might be worthy to use it in an analysis later. However, we still have some issues here that we need to be careful with:
- Director's names are likely standardized due to the fact that IMDB has a profile for each entity. Still, we cannot take this as guaranteed without analyzing further.
- Some series have multiple directors, as they might have different directors for different episodes
- A large number of directors might compromise the resources necessary to develop a model, as it would create a large number of new columns for the data frame.

In [39]:
movies_raw_dataset['Director'] = movies_raw_dataset['Stars'].apply(lambda x: x[x.find('Director:')+9:x.find('Stars:')].strip())

In [54]:
movies_raw_dataset.loc[movies_raw_dataset['Director'].str.contains(':'),:]

2208                  Ömer Ugur
1644               Åke Sandgren
4513              Ángeles Reiné
6072      Ángel Gómez Hernández
541     Álvaro Fernández Armero
                 ...
5656               Aaron Sorkin
981                Aaron Lieber
3442                Aaron Burns
6342           Aaron Augenblick
3389            Aadish Keluskar
Name: Director, Length: 3815, dtype: object

Everything seems fine with the names extracted.

In [51]:
movies_raw_dataset.loc[movies_raw_dataset['Director']!='','Director'].nunique()

3277

So many directors seem to be too much for creating dummy variables for them, so let's leave it for now. We keep the stars as a whole in case it is necessary to figure out if a certain actor participated on the movie or series.

Let's remove the One-liners with no plot

In [40]:
movies_raw_dataset['One-line'] = movies_raw_dataset['One-line'].str.replace('Add a Plot','')

Let's also create dummies for the movie genre.

In [67]:
movies_raw_dataset['Genre'] = movies_raw_dataset['Genre'].str.replace(' ','')
genre_dummies = movies_raw_dataset['Genre'].str.get_dummies(',')

movies_dataset = pd.concat([movies_raw_dataset, genre_dummies], axis=1)
movies_dataset.drop('Genre', axis=1, inplace=True)

In [69]:
movies_dataset.drop('Genre', axis=1, inplace=True)

In [70]:
movies_dataset.head()

,Movies,Year,Rating,One-line,Stars,Votes,Runtime,Gross,Startyear,Endyear,...,News,Reality-TV,Romance,Sci-Fi,Short,Sport,Talk-Show,Thriller,War,Western
0,13 Reasons Why,2017–2020,6.140000,"The police question Tyler about the guns, leav...",Director:Russell Mulcahy Stars:Dylan M...,1693.600000,62.800000,NaN,2017,2020,...,0,0,0,0,0,0,0,1,0,0
1,1899,2022,NaN,,Director:Baran bo Odar Stars:Aneurin B...,NaN,NaN,NaN,2022,2022,...,0,0,0,0,0,0,0,0,0,0
2,3Below: Tales of Arcadia,2018–2019,7.950000,"Left vulnerable after Omen's attack, the royal...",Director:Andrew L. Schmidt Stars:Tatia...,129.500000,20.461538,NaN,2018,2019,...,0,0,0,0,0,0,0,0,0,0
3,50M2,2021,7.300000,"While seeking answers about his parents, Shado...",Director:Selçuk Aydemir Stars:Engin Öz...,119.500000,49.000000,NaN,2021,2021,...,0,0,0,0,0,0,0,1,0,0
4,7Seeds,2019–2020,7.108696,"Convinced that Botan has kidnapped them, Natsu...","Stars:Morgan Berry, Amber Lee ...",30.521739,24.695652,NaN,2019,2020,...,0,0,0,0,0,0,0,0,0,0

Ideas not implemented:
- We can try to divided the dataset into a movies dataset and a series dataset. However, our only criteria would have to be the presence of multiple values in the _Year_ column, which would mean that the series went on for several years. This is true for most series, but for series broadcasted within the span of a single year, that classification would be erroneous.

Let's export the data to a .parquet file to access it later.

In [71]:
movies_dataset.to_parquet('movies_dataset_clean.parquet')